In [ ]:
SELECT a + b +d AS foo,
c AS bar from my_table

In [ ]:
select foo as bar from thistable;
select 
    foo as bar from thistable;
select foo as bar from thistable
select foo as bar 
from thistable

SELect another, thing from anothertable where another is not null